<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
    <title>Error-Services</title>
</head>
<nav th:replace="fragments :: navigation"></nav>

<body class="container" >
    <div class="col-md-6 col-md-offset-3" style="margin-top: 90px">

        <form class="form" >
            <div class="panel-group" >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Schedule Service</h1>
                    </div>
                    <div class="panel-body">
                        <h4><p class="col-form-label text-danger head">No dog details entered - Please click here first: <a href="/dogs/add-dog-details">Dog Details</a> </p> </h4></div>
                </div>

            </div>

        </form>

    </div>

</body>
</html>


