<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
    <title>Remove-services</title>
</head>
<nav th:replace="fragments :: navigation"></nav>

<body class="container" style="margin-top: 100px">

     <div class="col-md-6 col-md-offset-3">
         <form method ="post" th:object="${service}">

                 <div class="panel panel-primary">
                     <div class="panel-heading">
                         <h1 class="panel-title">Delete Service</h1>
                     </div>
                     <div class="panel-body">

                             <div>
                                 <p></p>
                             </div>

                             <div class="col-md-10 form-group" >
                                 <label><p><u><small><strong>Delete boarding for dogs: </strong></small></u></p></label>

                                 <div>
                                     <p></p>
                                 </div>
                                 <form>
                                     <p><em>
                                         <div  th:each="dog : ${dogs}" >

                                             <!--including form-control in input below distorts the ckeckbox to a huge box so I had it removed
                                             including class="checkbox" in label places text on next line and does not align with checkbox-->
                                             <!--<input  type="text"   name="dogIds" th:value="${service.dog.id}" th:id="${service.dog.id}" readonly/>-->
                                             <label th:for="${service.dog.id}"  th:text="${service.dog.name}"></label>

                                         </div>

                                     </em></p>
                                 </form>
                             </div>


                             <div class="col-md-12 form-group" >

                                 <div>
                                     <p></p>
                                 </div>
                                 <p><label for="sdt"><small>Drop-off Date: </small><span class="required">*</span></label>
                                     <input id="sdt" class="form-control " type="date" th:field="*{startDate}" readonly/></p>
                                 <span th:errors="*{startDate}" class="error"></span>
                                 <p><label for="edt"><small>Pick-up Date: </small><span class="required">*</span></label>
                                     <input id="edt" class="form-control " type="date" th:field="*{endDate}" readonly /></p>
                                 <span th:errors="*{endDate}" class="error"></span>

                             </div>

                             <div class="col-md-8 form-group">

                                 <button type="submit" name="action" class="btn btn-primary" value="Delete">Delete</button>
                                 <span class="tab-space"><a href="/service/list-services" id ="cancel" name="cancel" class="btn btn-primary">&nbsp;Exit</a></span>
                             </div>

                     </div>
                 </div>

         </form>
     </div>

</body>
</html>


