<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>
    <div style="margin-top: 100px">

        <div class="table-responsive" >

            <div class="col-md-8 col-md-offset-2">
                <form  method ="post" th:object="${person}">
                    <table style="border:1px solid blue;" class="table table-striped row">
                        <tr>
                            <div>
                                <br>
                            </div>
                            <h1>Owners</h1>
                            <th><p><u>First Name</u></p></th>
                            <th><p><u>Last Name</u></p></th>
                            <th><p><u>Address</u></p></th>
                            <th><p><u>Phone #</u></p></th>
                            <th><p><u>Dog name</u></p></th>
                        </tr>

                        <tbody>

                            <tr th:each="dog : ${dogs}" >
                               <span th:if="${not dog.person.admin}">

                                    <td  th:text="${dog.person.firstName}"></td>
                                    <td  th:text="${dog.person.lastName}"></td>
                                    <td  th:text="${dog.person.address}"></td>
                                    <td  th:text="${dog.person.cellPhone}"></td>
                                    <td  th:text="${dog.name}"></td>  </span>

                            </tr>

                            <div class="btn-group">
                                <div>
                                    <p></p>
                                </div>
                                <td>
                                    <a th:href="@{'/'}" id ="cancel" name="cancel" class="btn btn-primary">Exit</a>
                                </td>
                            </div>
                        </tbody>

                    </table>
                </form>
            </div>
        </div>
    </div>

</body>
</html>