<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head">
    <title>Edit-Dog-Details</title>
</head>
<nav th:replace="fragments :: navigation"></nav>
<body class="container">

<div style="margin-top: 70px">

        <div class="col-md-6 col-md-offset-3">
            <form method ="post"  th:object="${dog}">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit dog details</h1>
                        </div>
                        <div class="panel-body">
                            <div th:text="${error}" class="col-form-label text-danger"></div>
                            <div>
                                <p></p>
                            </div>

                            <div class="col-md-12 form-group">
                                <label th:for="name"><small>Name </small><span class="required">*</span></label>
                                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="name" required/>
                            </div>
                            <div>
                                <p></p>
                            </div>
                            <div class="col-md-12 form-group">
                                <label th:for="breed"><small>Breed</small></label>
                                <input class="form-control" type="text" th:field="*{breed}" id="breed" placeholder="breed"/>
                            </div>


                            <div class="col-md-12">
                                <fieldset>
                                    <div>
                                        <div>
                                            <p></p>
                                        </div>
                                        <input type="radio" th:field="*{size}" id="size1" value="Small">
                                        <label for="size1"><small>Small</small></label>
                                    </div>
                                    <div >
                                        <input type="radio" th:field="*{size}" id="size2" value="Medium">
                                        <label for="size2"><small>Medium</small></label>
                                    </div>
                                    <div >
                                        <input type="radio" th:field="*{size}" id="size3" value="Large">
                                        <label for="size3"><small>Large</small></label>
                                    </div>
                                    <div >
                                        <input type="radio" th:field="*{size}"  id="size4" value="Gigantic">
                                        <label for="size4"><small>Gigantic (81 - Max)</small></label>
                                    </div>
                                </fieldset>

                            </div>
                            <div class="col-md-12 form-group">
                                <br/>
                                <label th:for="specialNotes"><small>Special Notes</small></label>
                                <textarea class="form-control"  th:field="*{specialNotes}" id="specialNotes" placeholder="specialNotes"></textarea>
                            </div>
                            <div>
                                <p></p>
                            </div>

                            <div class="col-md-12 form-group">
                                <input type="hidden" class="form-control" th:field="${person.email}" id="person.email"/>
                                <input type="hidden" class="form-control" name="id" th:field="${dog.id}" id="dog.id"/>
                                <button type="submit" name="action" class="btn btn-primary" value="Edit">Save</button>

                                <span class="tab-space"><a href="/" id ="cancel" name="cancel" class="btn btn-primary">&nbsp;Exit</a></span>
                            </div>
                            <div class="col-md-12 ">
                                <br/>
                                <label class="required">*</label>
                                <label><span><small>Indicates required field</small></span></label>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

</div>
</body>
</html>