<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

    <nav th:replace="fragments :: navigation"></nav>
    <div>
        <br>
        <br>
        <br>
    </div>
    <div class="table-responsive" style="max-width:1200px;" >
        <div class="table table-striped row">
            <div class="col-md-10 col-md-offset-1">
                <table>
                    <thead>
                        <tr>
                            <h1>Your Dogs</h1>
                                <th>Name</th>
                                <th>Breed</th>
                                <th>Size</th>
                                <th>Special Notes</th>
                            <th>Add a Dog<a href="/dogs/add-dog-details"><span class="btn glyphicon glyphicon-plus-sign"></span></a></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="dog : ${dogs}">
                            <td th:text="${dog.name}"></td>
                            <td th:text="${dog.breed}"></td>
                            <td th:text="${dog.size}"></td>
                            <td th:text="${dog.specialNotes}"></td>
                            <!-- the margin and padding narrows the rows and the icons stay on the same line -->
                            <div>
                                <td><a href="/dogs/add-dog-details" style="width:10%; padding-bottom:0; margin-bottom:0; border-bottom:0"><span class="btn glyphicon glyphicon-edit"></span>
                                    </a>

                                    <a href="/dogs/remove-dog-details">
                                        <span style="width:10%; padding-bottom:0; margin-bottom:0; border-bottom:0" class="btn glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </div>
                            <!--
                            <td th:text="${cheese.category.name}"></td> -->

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--
    <h1>
        <a href="/dogs/add-dog-details">Add</a>

        <a href="/dogs/edit-dog-details">Edit |</a>
        <a href="/dogs/remove-dog-details">Remove</a>
    </h1>
            -->
</body>
</html>