<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<div style="margin-top: 100px">

    <div class="table-responsive" >

            <div class="col-md-6 col-md-offset-3">
                <form  method ="post"  th:object="${dogs}">

                    <table style="border:1px solid blue;" class="table table-striped row">
                        <tr>
                            <div>
                                <br>
                            </div>
                            <h1>Your Dogs</h1>
                            <th><p><u>Name</u></p></th>
                            <th><p><u>Breed</u></p></th>
                            <th><p><u>Size</u></p></th>
                            <th><p><u>Special Notes</u></p></th>

                            <th><a href="/dogs/add-dog-details" class="btn btn-primary btn-sm ">
                                <span class="glyphicon glyphicon-plus col text-center" ></span>
                                <span><strong>Add a Dog</strong></span></a></th>
                        </tr>

                        <tbody>

                        <tr th:each="dog : ${dogs}">

                            <td th:text="${dog.name}"></td>
                            <td th:text="${dog.breed}"></td>
                            <td th:text="${dog.size}"></td>
                            <td th:text="${dog.specialNotes}"></td>
                            <div class="btn-group">
                                <td>
                                    <a th:href="@{'/dogs/edit-dog-details/' + ${dog.id}}" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-edit" ></span>
                                    <span><strong>Edit</strong></span></a>

                                    <a th:href="@{'/dogs/remove-dog-details/' + ${dog.id}}" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-trash" ></span>
                                    <span><strong>Delete</strong></span></a>
                                </td>
                            </div>
                        </tr>

                    </table>
                </form>
            </div>
    </div>
</div>

<!--
<h1>
    <a href="/dogs/add-dog-details">Add</a>

    <a href="/dogs/edit-dog-details">Edit |</a>
    <a href="/dogs/remove-dog-details">Remove</a>
</h1>
        -->

<!--
                            <button type="submit" >Edit</button></a></td>
                            -->
<!-- the margin and padding narrows the rows and the icons stay on the same line -->
<!-- <div> -->
<!--
<td><a href="/dogs/edit-dog-details" class="btn btn-primary btn-sm a-btn-slide-text">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <span><strong>Edit</strong></span></a>
-->
<!--
<a href="/dogs/add-dog-details" class="btn btn-primary btn-sm a-btn-slide-text">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <span><strong>Delete</strong></span></a>

<input type="hidden" th:value="${dog.id}" name="id" /></td>
       -->


<!--
<td th:text="${cheese.category.name}"></td> -->

</body>
</html>