<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<div>
    <br>
    <br>
    <br>
</div>

<div class="table-responsive" style="max-width:1200px;">
    <div class="table table-striped row">
        <div class="col-md-8 col-md-offset-2">
            <form  method ="post" style="max-width:800px;" th:object="${dogs}">
                <div th:object="${person}"></div>
                <table>
                    <thead>
                    <tr>
                        <h1>Your Dogs</h1>
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Size</th>
                        <th>Special Notes</th>
                        <th><a href="/dogs/add-dog-details" class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-plus" ></span>
                            <span><strong>Add a Dog</strong></span></a></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="dog : ${dogs}">

                        <td th:text="${dog.name}"></td>
                        <td th:text="${dog.breed}"></td>
                        <td th:text="${dog.size}"></td>
                        <td th:text="${dog.specialNotes}"></td>
                        <td>
                            <a th:href="@{'/dogs/edit-dog-details/' + ${dog.id}}" class="btn btn-primary btn-sm a-btn-slide-text">
                            <span class="glyphicon glyphicon-edit" ></span>
                            <span><strong>Edit</strong></span></a>
                        </td>
                        <td>
                            <a th:href="@{'/dogs/remove-dog-details/' + ${dog.id}}" class="btn btn-primary btn-sm a-btn-slide-text">
                                <span class="glyphicon glyphicon-trash" ></span>
                                <span><strong>Delete</strong></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<!--
<h1>
    <a href="/dogs/add-dog-details">Add</a>

    <a href="/dogs/edit-dog-details">Edit |</a>
    <a href="/dogs/remove-dog-details">Remove</a>
</h1>
        -->

<!--
                            <button type="submit" >Edit</button></a></td>
                            -->
<!-- the margin and padding narrows the rows and the icons stay on the same line -->
<!-- <div> -->
<!--
<td><a href="/dogs/edit-dog-details" class="btn btn-primary btn-sm a-btn-slide-text">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <span><strong>Edit</strong></span></a>
-->
<!--
<a href="/dogs/add-dog-details" class="btn btn-primary btn-sm a-btn-slide-text">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <span><strong>Delete</strong></span></a>

<input type="hidden" th:value="${dog.id}" name="id" /></td>
       -->


<!--
<td th:text="${cheese.category.name}"></td> -->

</body>
</html>