<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
    <title>Title</title>
</head>
<nav th:replace="fragments :: navigation"></nav>
<body class="container">
<!-- form-control displays a nice table like form -->
<div style="margin-top: 60px">
    <div class="form-row">
        <div class="col-md-6 col-md-offset-3">
            <form method ="post" style="max-width:500px;" th:object="${dog}">
                <div th:object="${person}"></div>

                <div class="panel-group">
                    <!-- <div class="col-md-6 col-md-offset-3"> -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Delete dog details</h1>
                        </div>
                        <div class="panel-body">
                            <div th:text="${error}" class="col-form-label text-danger"></div>
                            <div>
                                <p></p>
                            </div>

                            <div class="col-md-8 form-group">
                                <label th:for="name"><small>Name </small><span class="required">*</span></label>
                                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="name" readonly/>
                            </div>
                            <div>
                                <p></p>
                            </div>
                            <div class="col-md-8 form-group">
                                <label th:for="breed"><small>Breed</small></label>
                                <input class="form-control" type="text" th:field="*{breed}" id="breed" placeholder="breed" readonly/>
                            </div>
                            <div>
                                <p></p>
                            </div>

                            <div class="form-row ">
                                <div class="col-md-8" form-group>
                                    <br/>
                                    </label><p><u><small><strong> Select Size:</strong></small><span class="required">*</span></u></p></label>
                                    <div>
                                        <p></p>
                                    </div>
                                    <div class="form-check col-md-8">
                                        <input class="form-check-input" th:field="*{size}" type="radio" name="small" value="small" id="small" readonly/>
                                        <label class="form-check-label" for="small"><small>Small (0 - 10 lbs)</small></label>
                                    </div>

                                    <div class="form-check col-md-8">
                                        <input class="form-check-input" th:field="*{size}" type="radio" name="medium" value="medium" id="medium" readonly/>
                                        <label class="form-check-label" for="medium"><small>Medium (11 - 50 lbs)</small></label>
                                    </div>
                                    <div class="form-check col-md-8">
                                        <input class="form-check-input" th:field="*{size}" type="radio" name="large" value="large" id="large"readonly/>
                                        <label class="form-check-label" for="large"><small>Large (51 - Max)</small></label>
                                    </div>
                                    <div>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <br/>
                                   <label th:for="specialNotes"><small>Special Notes</small></label>
                                <textarea class="form-control"  th:field="*{specialNotes}" id="specialNotes" placeholder="specialNotes" readonly></textarea>
                            </div>

                            <div class="col-md-8" >

                                <input type="hidden" class="form-control" th:field="${person.email}" id="person.email"/>
                                <input type="hidden" class="form-control" name="id" th:field="${dog.id}" id="dog.id"/>
                                <br/>
                                <button type="submit" name="action" class="btn btn-primary" value="Delete">Delete</button>
                                <!--<button type="submit" name="action" value="Exit">Save and Exit</button> -->
                                <span class="tab-space"><a href="/" id ="cancel" name="cancel" class="btn btn-primary">&nbsp;Exit</a></span>
                            </div>
                            <div class="col-md-10 ">
                                <br/>
                                <label class="required">*</label>
                                <label><span><small>Indicates required field</small></span></label>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>