body {
     font-family: sans-serif;
 }

 nav {
     margin-bottom: 20px;
 }

 .error
 { color: red; font-size: 12px;
 }


 h1 {
 text-align: center;}

 span.tab-space {
 padding-left:5em;}

 .head {
 padding: 20px 0;
   text-align: center;
 }

 .right {
   position: absolute;
   right: 0px;
   width: 300px;
    padding: 4px 0;
 }

 .required {
 color: red;
 }

 hr {
 width: 50%;
 height: 3px;
 background-color: blue;
 margin-right: auto;
 margin-left: auto;
 margin-top: 5px;
 margin-bottom: 5px;
 border-width: 2px;
 border-color: black;
 }


 .pad {
 padding-left:4em;
 padding-right:4em;
 }

 .post-container {
     margin: 50px 50px 50px 50px;
     border: 3px solid #333;
     overflow: auto
 }
 .post-image {
     float: left
 }
 .post-image img {
     display: block
 }
 .post-text {
     margin-left: 210px
 }
 .post-text {
     font-size: 150%
 }

input:checked + label{
 background: #e7f478;
}