body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 20px;
}

h1 {
text-align: center;}


.head {
padding: 20px 0;
  text-align: center;
}

.pad {
padding-left:4em;
padding-right:4em;
/* font-size:18px; */
}

.post-container {
    margin: 50px 50px 50px 50px;
    border: 3px solid #333;
    overflow: auto
}

.post-image {
    float: left
}

.post-image img {
    display: block
}

.post-text {
    margin-left: 210px
}

.post-text {
    font-size: 150%
}

