<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">

    <!-- Bootstrap stylesheets and script -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link type="text/css" href="../../css/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top"  th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" >Pause for Paws</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="active"><a href="/person/signup">Register</a></li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Profile
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" tabindex="-1" href="/person/edit">Edit Profile</a></li>
                    <li><a class="dropdown-item" tabindex="-1" href="/person/remove">Delete Profile</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLinkDogs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dog Details
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDogs">
                    <li><a class="dropdown-item" tabindex="-1" href="/dogs/list-dog-details">Add/Edit/Delete Dog Details</a></li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuServiceLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Schedule Service
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuServiceLink">
                    <li><a class="dropdown-item" tabindex="-1" href="/service/add-services">Add Service</a></li>
                    <li><a class="dropdown-item" tabindex="-1" href="/service/list-services">List/Delete Service</a></li>
                </ul>
            </li>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <li><a data-toggle="tooltip" title="$100 per day for 1 dog - $50 each for more dogs">Pricing</a>

            <script>
               $(function () {
               $('[data-toggle="tooltip"]').tooltip()
               })
            </script></li>

            <li class="active nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuAdminLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-stats"></span> Administration
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAdminLink">
                    <li><a class="dropdown-item" tabindex="-1" href="/admin/list-owners">List Owners</a></li>
                    <li><a class="dropdown-item" tabindex="-1" href="/admin/list-all-boarders-drop-off">List ALL Boarders - By drop-off date</a></li>
                    <li><a class="dropdown-item" tabindex="-1" href="/admin/list-all-boarders-pick-up">List ALL Boarders - By pick-up date</a></li>
                    <li><a class="dropdown-item" tabindex="-1" href="/admin/list-future-boarders-drop-off">List FUTURE Boarders - By drop-off date</a></li>
                    <li><a class="dropdown-item" tabindex="-1" href="/admin/list-future-boarders-pick-up">List FUTURE Boarders - By pick-up date</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/person/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="/person/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>

    </div>

</nav>
<div>
    <br>
    <br>
    <br>
</div>

</body>
</html>