<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
    <title>Edit</title>
</head>
<nav th:replace="fragments :: navigation"></nav>
<body>
    <div class ="container" style="margin-top: 90px">
        <div class="col-md-6 col-md-offset-3">
            <form method ="post"  th:object="${person}">
                <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Edit Profile</h1>
                            </div>
                            <div class="panel-body">

                                 <div th:text="${error}" class="col-form-label text-danger"></div>

                                 <div class="col-md-6 form-group">
                                     <label th:for="firstName"><small>First name </small><span class="required">*</span></label>
                                     <input type="text" class="form-control" id = "firstName" th:field="*{firstName}" placeholder="firstName" required/>
                                 </div>

                                 <div class="col-md-6 form-group">
                                     <label th:for="lastName"><small>Last name </small><span class="required">*</span> </label>
                                     <input class="form-control" type="text" id="lastName" th:field="*{lastName}" placeholder="lastName" required />
                                 </div>

                                 <div class="col-md-12" form-group>
                                     <!-- one space after </span> leaves a space between label and icon -->
                                     <label for="email" ><small>Email </small></label> <span class="glyphicon glyphicon-envelope"></span> <span class="required">*</span>
                                     <input id="email" class="form-control" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]{2,3}$" th:field="*{email}" name="email" placeholder="Email format" required />

                                 </div>

                                <div class="col-md-12 form-group">
                                    <div>
                                        <p></p>
                                    </div>
                                    <label for="address" ><small>Address </small><span class="required">*</span></label>
                                    <textarea id="address" class="form-control" rows="3" type="text" th:field="*{address}" placeholder="Address" required></textarea>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="homePhone" ><small>Home Phone (optional)</small></label>
                                    <input id="homePhone" class="form-control"  type="text" th:field="*{homePhone}" placeholder="eg. 999-999-9999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  />
                                    <span>Format: 123-456-7890</span>
                                    <span th:errors="*{homePhone}" class="error"></span>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="cellPhone" ><small>Cell Phone </small><span class="required">*</span></label>
                                    <input id="cellPhone" class="form-control" type="text" th:field="*{cellPhone}" placeholder="eg. 999-999-9999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
                                    <span>Format: 123-456-7890</span>
                                </div>

                                 <div class="col-md-12">
                                     <br/>
                                     <button type="submit" class="btn btn-primary" role="button" name="action" >Edit Profile</button>
                                     <!-- id="person.id" and th:field="*{id}" is needed for accessing person object via the @RequestParam int id in PersonController -->
                                     <input type="hidden" th:field="*{id}"  id="person.id">
                                 </div>
                                 <div class="col-md-12">
                                     <br/>
                                     <label class="required">*</label>
                                     <label><span><small>Indicates required field</small></span></label>

                                 </div>
                            </div>
                        </div>
                </div>
            </form>

        </div>
    </div>
</body>
</html>