<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div  class="a" style="margin-top: 10px">
    <label>
        <p></p>
        <h1>Welcome to Dogs Always!</h1>
        <p><i><h2><strong>Doggy Daycare</strong></h2></i></p>
        <hr>
    </label>

</div>

<p><img src="../images/dog_swimming.jpg"  align="left"><i><span align="right" class="pad" style="font-size:18px">Our daycare program is always supervised and provides </span></i>
    <i><span  class="pad" style="font-size:18px">positive social interaction with dogs that are of similar size, </span></i>
    <i><span class="pad"  style="font-size:18px">temperament, and play style. Don't let your dog spend their </span></i>
    <i><span class="pad"  style="font-size:18px">days alone or cooped up, bring them to Dogs Always!</span></i>
<p></p>
<i><span class="pad" style="font-size:18px">Don't leave your furry kids with a stranger or waiting for</span></i>
<i><span class="pad" style="font-size:18px">the pet sitter! Let your puppy splash in Canine Harbour, snack</span></i>
<i><span class="pad" style="font-size:18px">on gourmet treats, and snooze soundly in a room that feels</span></i>
<i><span class="pad" style="font-size:18px">like home!</span></i></p>
</body>
</html>