<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <nav th:replace="fragments :: navigation"></nav>

    <div  class="head" style="margin-top: 10px">
        <label>
            <br/>
            <h1>Welcome to Pause for paws</h1>
            <p><u><i><h2><strong>Dog Boarding</strong></h2></i></u></p>
            <p><i><h2><strong>Perfect if you need overnight pet care</strong></h2></i></p>
        </label>
    </div>
    <div class="post-container">
        <div class="post-image"><img src="../images/dog_swims.jpg" /></div>
        <div class="post-text">
            <p><i>Our doggy boarding programs are always supervised and provides positive
                social interaction with dogs that are of similar size, temperament, and play style.
                Don't let your dog spend their days alone or cooped up, bring them to Pause for Paws!</i></p>
            <p><i>Don't leave your furry kids with a stranger or waiting for the pet sitter!
                Let your puppy splash in Canine Harbor, snack on gourmet treats, and snooze soundly
                in a room that feels like home!</i></p>
        </div>
    </div>
</body>
</html>